{
  "openapi": "3.1.0",
  "info": {
    "title": "persistent-memory API",
    "version": "1.0.0",
    "description": "SQLite-backed persistent memory with FTS5 full-text search for cross-session knowledge retention."
  },
  "servers": [
    {
      "url": "https://api.techknowmad.ai/skills/persistent-memory"
    }
  ],
  "paths": {
    "/memory_operation": {
      "post": {
        "operationId": "memory_operation",
        "summary": "Store, retrieve, or search persistent memory entries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operation": {
                    "type": "string",
                    "description": "Operation: store, retrieve, search, delete"
                  },
                  "key": {
                    "type": "string",
                    "description": "Memory key"
                  },
                  "value": {
                    "type": "string",
                    "description": "Value to store"
                  },
                  "query": {
                    "type": "string",
                    "description": "Search query for FTS5"
                  }
                },
                "required": [
                  "operation"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}