{
  "openapi": "3.1.0",
  "info": {
    "title": "skill-test-harness API",
    "version": "1.0.0",
    "description": "Automated skill testing framework with fixture management, assertion libraries, and coverage reporting."
  },
  "servers": [
    {
      "url": "https://api.techknowmad.ai/skills/skill-test-harness"
    }
  ],
  "paths": {
    "/test_skill": {
      "post": {
        "operationId": "test_skill",
        "summary": "Run automated tests on a skill with fixtures and assertions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "skill_path": {
                    "type": "string",
                    "description": "Path to skill directory"
                  },
                  "test_suite": {
                    "type": "string",
                    "description": "Test suite to run",
                    "default": "all"
                  },
                  "coverage": {
                    "type": "boolean",
                    "description": "Enable coverage reporting",
                    "default": true
                  }
                },
                "required": [
                  "skill_path"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}