{
  "openapi": "3.1.0",
  "info": {
    "title": "context-engineer API",
    "version": "1.0.0",
    "description": "Context window optimization and prompt context management for efficient LLM usage."
  },
  "servers": [
    {
      "url": "https://api.techknowmad.ai/skills/context-engineer"
    }
  ],
  "paths": {
    "/optimize_context": {
      "post": {
        "operationId": "optimize_context",
        "summary": "Optimize context window by prioritizing and compressing relevant content",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Raw content to optimize"
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Target token budget",
                    "default": 4096
                  },
                  "strategy": {
                    "type": "string",
                    "description": "Optimization strategy",
                    "default": "relevance"
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}